# .gitignore

# Enviroment
secrets/
.env
.env.awsrds
.env.openai
.env.gemini
.env*
*.pyc
*.pyo
*.pyd
*.db
.ssh/
__pycache__/

api
data
query_runnner
logs
notebooks
scratch
streamlit/components
test_mode
utils.py

# IDE
.vscode/
.idea/
.vs/
.claude/
*.log

# OS
.DS_Store
Thumbs.db

# Data
data/
outputs/
*.csv
!tests/test_questions*.csv
.venv/
.venv_test/
.streamlit/